:root {
    --yellow: #FFCA05;
    --orange: #F4811F;
    --red: #EC1D24;
    --black:#000000;
    --white:#FFFFFF;
    --gray: #828282;
  }
 
body{
    font-family: 'Poppins', 'sans-serif';
    font-size:16px;
    padding: 0 1.5rem 2rem 1.5rem;
    font-weight: 300;
}
ul{
    padding-inline-start: 0;
}
p{
    font-size: 1.25rem;
}
header{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
}
.nav-group{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex: row wrap;
    justify-content: space-between;
}
.nav-container{
    -webkit-order: 1;
    order: 1;
}
.search{
    -webkit-order: 2;
    order: 2;
}
.nav-items{
    list-style: none;
    display: inline;
    margin: 0 1.5rem
}
.image{
    width:50px;
    height:50px;
    margin-top:1.25rem;
}
.search{
    width:100%;
    height: 3rem;
    border:none;
    background-color: rgba(196, 196, 196, 0.2);
    border-radius: 6px;
    padding-left: 1rem;
}
.title{
    font-size: 1.9rem;
    text-transform: capitalize;
    font-weight:900;
}
.light{
    color:var(--yellow);
    font-style: italic;
    font-weight: bold;
}
.top{
    border-bottom: solid 1px var(--yellow);
    padding-bottom: 1.5em;
}
.btn{
    background-color: var(--black);
    color:var(--white);
    border-radius: 4px;
    border:none;
    padding:1rem 1.75rem;
}
.arrow{
    color:#FFCA05;
    font-weight: 700;
}
.left{
    float: left;
}
.right{
    float:right
}
.clear{
    clear: both;
}
.red{
    color:var(--red);
}
.bold{
    font-weight:800;
}
.height{
    height:120px;
}
.view{
    margin-top:1.5rem;
    color:var(--orange);
    text-decoration:none;
}
.products-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    flex: row wrap;
    /* justify-content: stretch; */
}
.product{
    width: 33.33%;
    margin-right:1.25rem;
}
.last{
    margin-right: 0;
}
.img{
    width:100%;
}
.label{
    font-size: 1.25rem;
    text-transform: capitalize;
}
.label2{
    font-size: 1rem;
    text-transform: capitalize;
}
.scroll{
    overflow-x: hidden;
}
.product2{
    min-width: 40%;
    margin-right:1.25rem;
}
.discount{
    text-decoration: line-through;
}
.product3{
    position: relative;
    min-width: 96%;
    height:260px;
    margin-right:1rem;
    background-image: url("images/chandelier.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
}
.frame-btn{
    background-color: var(--yellow);
    color:var(--black);
    border:none;
    padding:.5rem 1.5rem;
    font-size:1.5rem;
    position: absolute;
    bottom:1.5rem;
    left:1.5rem;
}
.custom-btn{
    text-transform: capitalize;
    width: 100%;
    font-size:1.5rem;
    background-color: var(--black);
    color:var(--white);
    border-radius: 8px;
    border:none;
    padding:1.5rem 0;
}
.logo, .list, .acc, .desc, .carousel, .tabs{
    display: none;
}
@media only screen and (min-width: 768px) { 
    .orange{
        color: var(--orange);
    }
    header{
        max-width: 1200px;
        margin: 0 auto;
    } 
    .header{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        -webkit-order: 1;
        order: 1;
        margin-top: .25rem;
    }
    .search{
        order:2;
        -webkit-order: 2;
        width:35%;
        margin-top: 2.25rem;
        border:solid 1px var(--gray);
        background-color: var(--white);
        border-radius: 6px;
        padding: 1.75rem 1rem;
    }
    .nav-container{
        -webkit-order: 3;
        order: 3;
    }
    .tabs{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }

    .nav-item{
        list-style: none;
        text-transform: uppercase;
        font-size: .95rem;
    }
    .image{
        height: 28px;
        width: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo, .list, .acc, .desc, .carousel{
        display: block;
    }
    .logo-m, .menu, .top{
        display: none;
    }
    a{
        text-decoration: none;
    }
    .desc{
        text-transform: uppercase;
        color: var(--black);
        text-align: center;
    }
    .carousel{
        width:100%;
        min-height:80vh;
        position: relative;
        height:260px;
        background-image: url("images/carousel.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .mb-2{
        margin-bottom: 2rem;
    }
    .card{
        position: absolute;
        background-color: var(--white);
        width:300px;
        height:250px;
        bottom: 100px;
        left:100px;
        padding:0 2rem;
    }
    .btn-small{
        background-color: var(--black);
        color:var(--white);
        border-radius: 4px;
        border:none;
        padding:1rem 1.5rem;
        font-size: .75rem;
    }
} /* end of media query */

/* @media only screen and (min-width: 1024px) {

}  */
/* end of media query */
